@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  color: rgb(243, 243, 243);
  border: 2px solid rgba(221, 233, 220, 0.897);
  border-radius: 30px;
  background-color: rgba(15, 65, 5, 0.5);
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.726);
}

.footer:hover {
  color: rgb(238, 255, 0);
  background-color: rgba(19, 92, 92, 0.062);
  font-weight: bolder;
  text-shadow: 5px 0px 6px rgb(128, 0, 49);
  font-family: 'Pathway Gothic One', sans-serif;
  cursor: pointer;
}
